input {
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #dcdcdc;
}

input:focus {
    outline: none;
    border: 1px solid blue;
}

input.error {
    border: 1px solid red;
}