textarea {
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #dcdcdc;
}

textarea:focus {
    border: 1px solid purple;
    outline: 0;
}

textarea.error {
    border: 1px solid red;
}