<div *ngIf="!questionStatus" class="question-btn-wrapper">
    <button class="get-question-btn" (click)="getQuestion()">Get Question</button>
</div>

<div *ngIf="questionStatus" class="question-container-wrapper">
    <div class="header">Answer The Question</div>
    <div class="question-wrapper">
        <app-question *ngFor="let question of questions" [question]="question" (getChildAnswer)="setAnswer($event)"></app-question>
        <button (click)="sumitAnswer()" class="submit-btn">Submit</button>     
    </div>
</div>