.mb-15 {
    margin-bottom: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.question-container {
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background: white;
    border-left: 5px solid purple;
}

.question {
    font-size: 18px;
}
