<div *ngIf="User">
    <div class="serch-bar-container">
        <div class="input-container">
            <input type="text" name="serch" id="search" [(ngModel)]="searchText" placeholder="Search by id , name, email or phone...">
            <button (click)="reset()" class="reset-btn"><i class="fas fa-undo"></i></button>
        </div>
        <button class="search-btn" (click)="search(3)">Serach</button>
    </div>
    <table  class="user-table">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th *ngIf="User.role === 'Admin'">View</th>
                <th *ngIf="User.role === 'Admin'">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="users.length == 0">
                <td class="not-found" colspan="7">No Records Found</td>
            </tr>
            <ng-container *ngIf="users.length != 0">
                <tr *ngFor="let user of users;let i = index">
                    <td>{{i+1}}</td>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td>{{user.role}}</td>
                    <td  *ngIf="User.role === 'Admin'"><a class="view-button" [routerLink]="['/dashboard/viewUser',user.id]">View</a></td>
                    <td  *ngIf="User.role === 'Admin'" class="delete-td"><button class="delete-button" (click)="deleteUserByID(user.id)">Delete</button></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <div class="pagination-container d-flex" *ngIf="users.length != 0">
        <div class="page-number-btn-container  d-flex">
            <button (click)="getUserByPage(0)" class="previous-btn page-navigation-btn d-flex" [disabled]="isPreDisable"><span><</span>previous</button>
            <p class="page-number">{{pageNumber}}</p>
            <button (click)="getUserByPage(1)" class="next-btn page-navigation-btn d-flex" [disabled]="isNextDisable">next<span>></span></button>
        </div>
        <div class="pagination-result">
            showing {{currentPageSize}} result of {{totalCount}}
        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->

